<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>insta485</title>
</head>

<body>
<h1>
    <a href="/">Insta485</a>
</h1>
<p>
    <a href="/explore/">explore</a> | <a href="/u/{{ logname }}/">{{ logname }}</a>
</p>

<!-- Start -->
<p>
    <img src="/uploads/{{ filename }}" alt="whateve"> {{ logname }}
</p>

<form action="" method="post" enctype="multipart/form-data">
  Photo <input type="file" name="file"><br>
  Name <input type="text" name="fullname" value="{{ fullname }}"/><br>
  Email <input type="text" name="email" value="{{ email }}"/><br>
  <input type="submit" name="update" value="submit"/><br>
</form>

<p>
    <a href="/accounts/password/">Change password</a>
</p>

<p>
    <a href="/accounts/delete/">Delete account</a>
</p>

</body>
</html>