<!DOCTYPE html>
<html lang="en">
<head>
	<title>insta485</title>
</head>

<body>
	<header>
		<h1><a href="/">Insta485</a></h1>
		<p>
			<a href="/explore/">explore</a> | <a href="/u/{{ logname }}/">{{ logname }}</a>
		</p>
	</header>

	<h1>Following</h1>
	{% for follow in following %}
	<img src={{ follow.user_img_url }} alt="img">
	<a href="/u/{{ follow.username }}/">{{ follow.username }}</a>
	{% if logname != follow.username %}
		{% if follow.logname_follows_username %}
				following
				<form action="" method="post" enctype="multipart/form-data">
				  <input type="submit" name="unfollow" value="unfollow"/>
				  <input type="hidden" name="username" value="{{ follow.username }}"/>
				</form>
		{% else %}
				not following
				<form action="" method="post" enctype="multipart/form-data">
				  <input type="submit" name="follow" value="follow"/>
				  <input type="hidden" name="username" value="{{ follow.username }}"/>
				</form>
		{% endif %}
	{% endif %}
	{% endfor %}

</body>
</html>