<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>insta485</title>
</head>

<body>
<h1>
    <a href="/">Insta485</a>
</h1>
<p>
    <a href="/explore/">explore</a> | <a href="/u/{{ logname }}/">{{ logname }}</a>
</p>

<!-- Start -->
<form action="" method="post" enctype="multipart/form-data">
  Old password <input type="password" name="password"/><br>
  New password <input type="password" name="new_password1"/><br>
  New password, again <input type="password" name="new_password2"/><br>
  <input type="submit" name="update_password" value="submit"/>
</form>

<p>
	<a href="/accounts/edit/">Back to edit account</a>
</p>

</body>
</html>