<!DOCTYPE html>
<html lang="en">

<head>
    <title>insta485</title>
</head>

<body>
    <a href="/">Insta485</a>
    <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
        <input type="password" name="password" required />
        <input type="password" name="new_password1" required />
        <input type="password" name="new_password2" required />
        <input type="submit" name="update_password" value="submit" />
        <input type="hidden" name="operation" value="update_password" />
    </form>

    <p><a href="/accounts/edit/">edit account</a></p>
</body>

</html>