<!DOCTYPE html>
<html lang="en">

<head>
    <title>insta485</title>
</head>

<body>
    <a href="/">Insta485</a>
    <form action="/accounts/?target=/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required />
        <input type="text" name="fullname" required />
        <input type="text" name="username" required />
        <input type="text" name="email" required />
        <input type="password" name="password" required />
        <input type="submit" name="signup" value="sign up" />
        <input type="hidden" name="operation" value="create" />
    </form>

    <p>Already have an account? <a href="/accounts/login/">log in</a></p>
</body>

</html>